# Use Trusty as Emacs 26.x is failing on Xenial
# https://github.com/rejeep/evm/issues/125
dist: trusty

language: generic
sudo: false

env:
  - EVM_EMACS=emacs-24.4-travis
  - EVM_EMACS=emacs-24.5-travis
  - EVM_EMACS=emacs-25.1-travis
  - EVM_EMACS=emacs-25.2-travis
  - EVM_EMACS=emacs-25.3-travis
  - EVM_EMACS=emacs-26.1-travis
  - EVM_EMACS=emacs-26.2-travis
  - EVM_EMACS=emacs-26.3-travis
before_install:
  - curl -fsSkL https://gist.github.com/rejeep/ebcd57c3af83b049833b/raw > x.sh && source ./x.sh
  - evm install $EVM_EMACS --use --skip
  - cask
  # temporary fix for the ert+duration reporter, when compiled gives
  # "Invalid time specification"
  - find . -name 'ert-runner-reporter-ert+duration.elc' -delete
script:
  - cask exec ert-runner --reporter ert+duration
  - cask exec emacs --eval "(setq byte-compile-error-on-warn t)" -L . --batch -f batch-byte-compile smartparens.el smartparens-*[^pkg].el
